[Version]
version = 0.0.1-a
fullVersionName = Homework Checking System Version 0.0.1 alpha
productName = Homework Checking System
friendlyAppName = Homework Checking System
internalName = com.rycb.hcs
internalVersion = hcs.version_0.0.1-a

[programSelfCheck]
version = program.judge.version_0.0.1-a