[Version]
version = 0.0.1-Γ
fullVersionName = Homework Checking System Version 0.0.1Γ
productName = Homework Checking System
friendlyAppName = Homework Checking System
internalName = com.rycb.hcs
internalVersion = hcs.version_0.0.1-Γ

[programSelfCheck]
version = 0.0.1-Γ