[Version]
version = 0.0.1-b
fullVersionName = Homework Checking System Version 0.0.1 beta
productName = Homework Checking System
friendlyAppName = Homework Checking System
internalName = com.rycb.hcs
internalVersion = hcs.version_0.0.1-b

[programSelfCheck]
version = 0.0.1-b